@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap'); /*font-family: 'Inika', serif;*/

:root {
    --my-orange: rgb(224, 103, 51);
    --my-green:  rgb(73, 154, 24);
    --my-grey: rgb(113, 113, 113);
}

html {
    scroll-behavior: smooth;
}

/*Шапка*/

header {
    padding-top: 42px; padding-bottom: 42px;
    font: 16px 'Inika', sans-serif;

}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    margin: 23px;
    color: black;
    text-decoration: none;
}

/*Первая секция*/

body {
    padding-left: 7.5694%; padding-right: 7.5694%;;
    margin: 0px;
    font-family: 'Inter', 'Inika', sans-serif;
    font-size: 20px;
}

h1 {
    font: bold 45px/50px 'Inter', sans-serif; 
    color: var(--my-grey);
    text-align: left;
    margin: 0px; margin-bottom: 42px;
}

.my-orange {
    color: var(--my-orange);
}

.my-green {
    color: var(--my-green);
}

.learnmore-button {
    font: 16px/18px 'Inter', sans-serif;
    text-decoration: none;
    padding: 11px 26px;
    width: max-content;
    border-radius: 10px;
    border: 2.5px solid var(--my-orange);
    color: black;
    margin-top: 48px;
    transition: 0.25s;
}

.learnmore-button:hover {
    background-color: var(--my-orange);
    color: white;
}

/*Секция о нас*/

.description-h2 h2 {
    font: 40px 'Inika', sans-serif; 
    color: var(--my-green);
    text-align: left;
    margin: 0px;
}

.about-row p {
    font: 20px/30px 'Inter', sans-serif; 
    color: rgb(99, 96, 96);
    text-align: left;
    margin: 0px; margin-top: 40px;
    line-height: 35px;
}

.about-row {
    display: flex; flex-direction: row;
    justify-content: left;
    align-items: center;
}

.about-text {
    display: flex; flex-direction: column;
    flex-grow: 1;
}

#about img {
    margin: 93px 0px 74px 153px; 
    justify-self: right;
}

/*Секция сервиса и продуктов*/

.service-buttons {
    width: 559px; 
    display: flex; 
    justify-content: center;
}

.h2-and-buttons {
    display: flex; flex-direction: row;
    align-items: center;
    margin: 40px 0px 90px 0px
}

.btn-position {
    width: 559px;
}

.orange-button {
    font: 20px 'Inika', sans-serif;
    color: var(--my-orange);
    width: max-content; height: max-content;
    border: 1px solid var(--my-orange);
    border-radius: 5px;
    margin-top: 38px; margin-bottom: 39px;
    padding: 11px 41px 11px 41px;
    cursor: pointer;
    transition: 0.25s;
}

.orange-button:hover {
    background-color: var(--my-orange);
    color: white;
}

.figure-cards {
    display: flex; flex-direction: row;
}

figure {
    width: min-content; margin: 0px;
    border: 1px solid rgb(227, 225, 213);
    border-radius: 20px;
}

figure img {
    border-top-right-radius: 20px; border-top-left-radius: 20px; 
    width: 329px; height: 350px;
}

figure figcaption h3 {
    margin: 10px;
    font: bold 20px/20px 'Inter', sans-serif; 
    color: var(--my-orange);
    text-align: center;
}

figure figcaption p {
    margin: 0px;
    font: 16px/20px 'Inter', sans-serif; 
    color: var(--my-grey);
    text-align: center;
    padding-bottom: 36px;
}

/*Секция цен*/

.circle2 {
    width: 6px; height: 4px;
    padding: 6px 5px;
    border-radius: 16px;
}
.circle2.dark {    
    background-color: rgb(174, 161, 161);
}

.circle2.light {
    background-color: rgb(217, 217, 217);
}

.prices h2 {
    font: bold 40px/50px 'Inter', sans-serif;
    margin: 0px; margin-top: 40px;
}

.prices {
    display: flex; flex-direction: row;
}

.colomn-right button{
    display: flex; flex-direction: column;
    flex-direction: row; justify-content: flex-end;
    align-items: center;
    text-align: left;
    font: bold 20px/20px 'Inter', sans-serif;
    width: 250px; padding: 15px 0px 15px 40px;
    border: 1px solid rgba(237, 242, 236, 1);
    border-radius: 20px;
    margin: 32px 0px 32px 41px;
}

.colomn-left {
    display: flex; flex-direction: column;
    align-items: flex-end
}

.orange-button.contact-us {
    font-weight: bold;
    padding: 11px 34px 11px 32px;
    text-decoration: none;
    transition: 0.25s;
}

.orange-button.contact-us:hover{
    background-color: var(--my-orange);
    color: white;
}

/*Секция контактов*/

label {
    margin-top: 148px;
    display: flex; flex-direction: row-reverse; align-items: center;
    position: relative;
}

input {
    width: 430px; height: 40px;
    padding: 5px 0px 5px 20px;
    color: var(--my-grey);
    font-size: 20px;
    background-color: rgb(214, 231, 210);
    border: none;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
}

input:focus {
    outline: none;
    background-color: rgb(193, 230, 152);
    color: rgb(113, 113, 113);
    box-shadow: none;
}

.contacts h2 {
    font: bold 40px 'Inika', serif; 
    color: var(--my-green);
}

.contacts {
    display: flex; flex-direction: row; 
    justify-content: center;
}

/*Подвал*/

footer {
    padding-top: 40px; padding-bottom: 40px;
    display: flex; align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 20px;
}

@media (max-width: 380px) {
    /*Шапка*/
    header {
        padding-top: 10.886%;
        padding-bottom: 18.14%;
    }

    nav a, #welcome img, .colomn-left img {
        display: none;
    }

    /*Первая секция*/
    h1 {
        font-size: 1.25em;
        line-height: 1.4em;
        margin-bottom: 6.17%;
    }

    .about-row p {
        font-size: 0.75em;
        line-height: 1.666em;
    }

    #welcome .about-row .about-text p {
        font-size: 0.8em;
        line-height: 1.563em;
        margin-right: 15.48px;
    }

    .learnmore-button {
        font-size: 0.5em;
        line-height: 2em;
        padding: 2.44% 5.455%;
        border-radius: 10px;
        border-width: 2px;
        margin-top: 6.08%;
        margin-bottom: 16.36%;
    }

    /*Секция о нас*/
    .description-h2 h2 {
        text-align: center;
        font-size: 1.25em;
        line-height: 1.3em;
    }

    .about-text + img {
        margin: 0px !important;
        width: 45.4545%;
        height: 44.5454%;
    }

    /*Секция сервиса и продуктов*/
    #service h2 {
        text-align: left;
        margin-bottom: 10.6% !important;
        margin-right: auto !important;
    }

    body {
        width: 86.842%;
        padding-left: 6.579001%; padding-right: 6.579001%;
    }

    .service-buttons {
        width: 76.363%;
        margin-right: auto;
    }

    .service-buttons button {
        margin: 0 4% 4% 0 !important;
    }

    .orange-button {
        font-size: 0.75em;
        line-height: 1.266em;
        padding: 3.2% 11.2%;
    }

    .h2-and-buttons div {
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .h2-and-buttons {
        margin: 18.2% 0px 9.1% 0px !important;
    }

    .figure-cards {
        margin-left: 7.577%;
        margin-right: 7.577%;
        margin-bottom: 0px !important;
    }

    .figure-cards p {
        padding-bottom: 19.355%;
        width: 72.04%;
        margin-right: auto; margin-left: auto;
    }

    .figure-cards img {
        width: 73.45vw;
        height: 92.105vw
    }

    .figure-cards, .h2-and-buttons, .about-row, .prices, .contacts {
        display: flex; flex-direction: column;
    }

    #contacts img {
        width: 100px;
    }

    input {
        width: 100px;
    }
}