@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap'); /*font-family: 'Inika', serif;*/

:root {
    --my-orange: rgb(224, 103, 51);
    --my-green:  rgb(73, 154, 24);
    --my-grey: rgb(113, 113, 113);
}

.media-pointer.learnmore-button:hover, .media-pointer.orange-button:hover {
    background-color: var(--my-orange);
    color: white;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

#prices button{
    display: flex; flex-direction: column; align-items: flex-start;
}

.blured {
    filter: blur(3px) !important;
}

.accordion section {
    width: 100%; height: 1px; 
    background-color: rgb(174, 161, 161);
    margin-top: 10px;
    border-radius: 10px;
}

.accordion p {
    color: var(--my-grey);
    font: normal 10px/10px 'Inter', 'Inika', sans-serif;
}

.accordion .section-price {
    font-size: 12px; line-height: 20px;
    color: black;
}

.accordion .section-price span {
    color: var(--my-orange);
    font-weight: bold;
    font-size: 16px;
}

.accordion a {
    font: bold 14px/20px 'Inter', 'Inika', sans-serif;
    text-decoration: none;
    color: var(--my-grey);
    background-color: white;
    border-radius: 10px;
    padding: 3px 20px;
}

.accordion a.media-pointer:hover {
    background-color: var(--my-orange);
    color: white;
    transition: 0.25s;
}

#prices [data-val='active'] {
    background-color: rgb(214, 231, 210);
}

#prices [data-val='active'] .post-verstka {
    border-color: rgba(0, 0, 0, 0);
}

#prices .media-pointer.circle2.light:hover{
    filter: invert(100%) brightness(4.5);
    transition: 0.001s;
}

#prices [data-val='active'] .circle2.light{
    transform: rotate(180deg);
    filter: invert(100%) brightness(4.5);
    transition: 0.5s;
}

#contacts form div {
    display: flex; flex-direction: column; 
    justify-content: space-between; 
    padding: calc(10vw / 144 * 27) calc(10vw / 144 * 50) calc(10vw / 144 * 31) calc(10vw / 144 * 20); 
    height: calc(10vw / 144 * 176);
    background-color: rgb(214, 231, 210);
}

#contacts form div a {
    padding: 0 calc(60vw / 144);
    color: rgb(73, 154, 24);
    border-bottom: 1px solid rgb(217, 217, 217);
    transition: 0.25s;
}

#contacts form div a:hover {
    color: var(--my-grey);
    border-color: var(--my-grey);
}

td, #contacts form div a {  
    font: normal calc(160vw / 144)/calc(400vw / 144) 'Inter', 'Inika', sans-serif;
    letter-spacing: calc(5vw / 144);
}

td:first-child {
    color: black;
    padding-right: calc(100vw / 144);
}

td:last-child {
    flex-grow: 1;
    color: var(--my-grey);
}

table {
    display: flex;
    width: 100%;
    padding: calc(10vw / 144 * 17) calc(10vw / 144 * 35) calc(10vw / 144 * 32);
    border: calc(10vw / 144) solid black;
    border-radius: calc(10vw / 144 * 20);
    margin-top: calc(10vw / 144 * 47);
}

#contacts table .learnmore-button {
    display: block; text-align: center;
    font: bold calc(10vw / 144 * 10) 'Inika', sans-serif;
    width: calc(10vw / 144 * 122);
    border-radius: calc(10vw / 144 * 5);
    border-width: calc(10vw / 144);
}

@media (max-width: 1023px) {
    #contacts form div {
        padding: 27px 50px 31px 20px; 
        height: 176px;
    }
    
    #contacts form div a {
        padding: 0 6px;
    }
    
    td, #contacts form div a {  
        font-size: 16px; line-height: 40px;
        letter-spacing: 0.5px;
    }
    
    td:first-child {
        padding-right: 10px;
    }
    
    table {
        padding: 17px 35px 32px;
        border-width: 1px;
        border-radius: 20px;
        margin-top: 47px;
    }
    
    #contacts table .learnmore-button {
        font-size: 10px;
        width: 122px;
        border-radius: 5px;
        border-width: 1px;
    }
}

/*Шапка*/

.showMenu {
    flex-direction: column-reverse; align-items: center;
    background-color: white;
    display: none;
    width: 100%;
    position: sticky; bottom: 0;
    padding: 3.64% 0 !important;
    transition: 0.5s;
    opacity: 0;
}

.showMenu button {
    margin: 0 0 1.5% auto;
    font-size: 0.8em; line-height: 0.8em;
    padding: 0.6em 0.75em;
    border-width: 1px; border-radius: 5px;
}

.showMenu div {
    display: flex; flex-wrap: wrap; justify-content: space-between; 
    flex-direction: row; align-content: flex-end; flex-grow: 1;
    width: 100%;
}

.showMenu a {     
    text-align: end;
    margin: 0 !important;
}

.showMenu [style$="bold;"] {
    color: var(--my-orange);
}

.showMenu, header {
    padding-top: 42px; padding-bottom: 42px;
    font: 16px 'Inika', sans-serif;

}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.showMenu a, nav a {
    margin: 23px;
    color: black;
    text-decoration: none;
}

/*Первая секция*/

body {
    padding: 0;
    margin: 0 7.5694%;
    font-family: 'Inter', 'Inika', sans-serif;
    font-size: 20px;
}

h1 {
    font: bold 45px/50px 'Inter', sans-serif; 
    color: var(--my-grey);
    text-align: left;
    margin: 0px; margin-bottom: 42px;
}

.my-orange {
    color: var(--my-orange);
}

.my-green {
    color: var(--my-green);
}

.learnmore-button {
    font: 16px/18px 'Inter', sans-serif;
    text-decoration: none;
    padding: 11px 26px;
    width: max-content;
    border-radius: 10px;
    border: 2.5px solid var(--my-orange);
    color: black;
    margin-top: 48px;
    transition: 0.25s;
}


/*Секция о нас*/

.description-h2 h2 {
    font: 40px 'Inika', sans-serif; 
    color: var(--my-green);
    text-align: left;
    margin: 0px;
}

.about-row p {
    font: 20px/30px 'Inter', sans-serif; 
    color: rgb(99, 96, 96);
    text-align: left;
    margin: 0px; margin-top: 40px;
    line-height: 35px;
}

.about-row {
    display: flex; flex-direction: row;
    justify-content: left;
    align-items: center;
}

.about-text {
    display: flex; flex-direction: column;
    flex-grow: 1;
}

#about img {
    margin: 93px 0px 74px 153px; 
    justify-self: right;
}

/*Секция сервиса и продуктов*/

.service-buttons {
    width: 559px; 
    display: flex; 
    justify-content: center;
}

.h2-and-buttons {
    display: flex; flex-direction: row;
    align-items: center;
    margin: 40px 0px 90px 0px
}

.btn-position {
    width: 559px;
}

.orange-button {
    font: 20px 'Inika', sans-serif;
    color: var(--my-orange);
    width: 160px; height: 50px;
    border: 1px solid var(--my-orange);
    border-radius: 5px;
    margin-top: 38px; margin-bottom: 39px;
    padding: 11px 41px 11px 41px;
    cursor: pointer;
    transition: 0.25s;
}

.orange-button.contact-us {
    width: fit-content; height: fit-content;
}

#service [data-val='active']{
    background-color: var(--my-orange);
    color: white;
}

.figure-cards {
    display: flex; flex-direction: row; flex-wrap: wrap; 
    justify-content: space-between; align-content: space-between;
}

figure {
    width: min-content; margin: 0px;
    border: 1px solid rgb(227, 225, 213);
    border-radius: 20px;
    transition: 0.25s;
}

figure img {
    border-top-right-radius: 20px; border-top-left-radius: 20px; 
    width: 329px; height: 350px;
}

figure figcaption h3 {
    margin: 10px;
    font: bold 20px/20px 'Inter', sans-serif; 
    color: var(--my-orange);
    text-align: center;
}

figure figcaption p {
    margin: 0px;
    font: 16px/20px 'Inter', sans-serif; 
    color: var(--my-grey);
    text-align: center;
    padding-bottom: 36px;
}

/*Секция цен*/

.circle2 {
    width: 6px; height: 4px;
    padding: 6px 5px;
    border-radius: 16px;
}
.circle2.dark {    
    background-color: rgb(174, 161, 161);
}

.circle2.light {
    background-color: rgb(217, 217, 217);
}

.prices h2 {
    font: bold 40px/50px 'Inter', sans-serif;
    margin: 0px; margin-top: 40px;
}

.prices {
    display: flex; flex-direction: row;
}

.post-verstka, .colomn-right button{
    display: flex; flex-direction: column;
    flex-direction: row; justify-content: flex-end;
    align-items: center;
    text-align: left;
    font: bold 20px/20px 'Inter', sans-serif;
    width: 250px; padding: 15px 0px 15px 40px;
    border: 1px solid rgba(237, 242, 236, 1);
    border-radius: 20px;
    margin: 32px 0px 32px 41px;
}

.post-verstka {
    margin: 0 !important; padding: 0 !important;
}

.colomn-left {
    display: flex; flex-direction: column;
    align-items: flex-end
}

.orange-button.contact-us {
    font-weight: bold;
    padding: 11px 34px 11px 32px;
    text-decoration: none;
    transition: 0.25s;
}

#prices .colomn-right div {
    margin-top: 60px; margin-bottom: 129px;
    width: 332px; 
    height: fit-content; min-height: 282px;
    border: 1px solid rgb(227, 225, 213); border-radius: 20px;

}

/*Секция контактов*/

label {
    margin-top: 148px;
    display: flex; flex-direction: row-reverse; align-items: center;
    position: relative;
}

input {
    width: 430px; height: 40px;
    padding: 5px 0px 5px 20px;
    color: var(--my-grey);
    font-size: 20px;
    background-color: rgb(214, 231, 210);
    border: none;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
    outline: none;
}

input[data-val='active'] {
    filter: saturate(4) hue-rotate(-15deg);
    box-shadow: none;
}

#contacts img {
    transition: 0.6s;
}

#contacts img[data-val='active'] {
    background-color: rgb(139, 160, 126);
    transform: rotate(180deg);
}

.contacts h2 {
    font: bold 40px 'Inika', serif; 
    color: var(--my-green);
}

.contacts {
    display: flex; flex-direction: row; 
    justify-content: space-between;
}

/*Подвал*/

footer {
    padding-top: 40px; padding-bottom: 40px;
    display: flex; align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 20px;
}

footer img {
    min-width: 32px; min-height: 32px;
    width: 2.2222vw; height: 2.2222vw; margin: 0 !important;
}

@media (min-width: 1024px) {
    
    .accordion section {
        height: 0.0347vw;
        margin-top: 0.694vw;
        border-radius: 0.694vw;
    }

    .accordion p {
        font-size: 0.694vw; line-height: 0.694vw;
    }

    .accordion .section-price {
        font-size: 0.833vw; line-height: 1.389vw;
    }

    .accordion .section-price span {
        font-size: 1.111vw;
    }

    .accordion a {
        font-size: 0.972vw; line-height: 1.389vw;
        border-radius: 0.694vw;
        padding: 0.2083vw 1.389vw;
    }

    /*Шапка*/

    header {
        padding: 3.443% 0;
        font: 1.1111vw 'Inika', sans-serif;
    
    }

    .logo {
        height: 5.418vh;
        font-size: 1.1111vw;
    }

    .logo img {
        width: 1.389vw !important; height: 1.389vw !important;
        min-width: 20px; min-height: 20px;
    }

    .top-a-nav {
        width: 37%; min-width: 300px;
        display: flex; justify-content: space-between;
    }
    
    nav a {
        margin: 0;
    }
    
    /*Первая секция*/
    
    .about-row [alt="leafs"] {
        width: 36.8% !important; height: auto !important; 
        margin: 4.9% 18.38% 4.9% 0 !important;
    }
    
    body {
        margin: 0 7.639%;
        font-size: 1.3889vw;
    }
    
    h1 {
        font: bold 3.125vw/3.4722vw 'Inter', sans-serif;  
        margin-bottom: 7.68%;
    }
    
    .learnmore-button {
        font: 1.1111vw/1.25vw 'Inter', sans-serif;
        padding: 2.01% 4.755%;
        border-radius: 10px;
        margin-top: 8.778%;
    }
    
    /*Секция о нас*/

    #about {
        margin: 7.664% 0;
    }
    
    .description-h2 h2 {
        font: 2.7778vw 'Inika', sans-serif;
        margin: 0px;
    }
    
    .about-row p {
        font: 1.3889vw/2.0833vw 'Inter', sans-serif;
        margin-top: 5.29%;
        line-height: 2.4306;
    }
    
    #about img {
        width: 38.03%; height: auto;
        margin: 0; margin-left: 12.54%;
    }
    
    /*Секция сервиса и продуктов*/

    #service h2 {
        margin-right: 11.64% !important;
    }
    
    .service-buttons {
        flex-wrap: wrap; justify-content: space-between;
        width: 45.82%; min-width: min-content;  
    }
    
    .h2-and-buttons {
        margin: 0;
        padding: 3.2787% 0 7.377%;
    }
    
    .btn-position {
        width: 559px;
    }
    
    .orange-button {
        width: 28.8%; height: 3.47vw;
        font: 1.3889vw 'Inika', sans-serif;
        border: 1px solid var(--my-orange);
        border-radius: 5px;
        margin: 0;
        padding: 0;
    }

    .figure-cards {
        margin-bottom: 13% !important;
        height: 66.319444vw;
    }
    
    figure {
        border: 1px solid rgb(227, 225, 213);
        border-radius: 20px;
    }
    
    figure img {
        border-top-right-radius: 20px; border-top-left-radius: 20px;
        object-fit: cover;
        width: 22.847222vw; height: 24.305555vw;
    }
    
    figure figcaption h3 {
        margin: 3.04% 0;
        font: bold 1.3889vw/1.3889vw 'Inter', sans-serif; 
    }
    
    figure figcaption p {
        font: 1.1111vw/1.3889vw 'Inter', sans-serif; 
        padding-bottom: 10.94%;
    }
    
    /*Секция цен*/
    
    .circle2 {
        min-width: 6px; min-height: 4px;
        width: 0.4167vw; height: 0.2778vw;
        padding: 0.4167vw 0.347vw;
        border-radius: 16px;
    }

    .prices {
        margin-right: 1.111vw !important;
    }

    .prices [alt="leafs"] {
        width: 34% !important; height: auto !important;
    }

    .prices {
        margin: 3.28% 0 9.426%; 
    }
    
    .prices h2 {
        margin: 0px;
        font-size: 2.7778vw; line-height: 3.4722vw;
    }

    .colomn-right {
        width: 42.541vw;
    }

    .colomn-left {
        flex-grow: 1;
    }
    
    .post-verstka, .colomn-right button{
        font: bold 1.3889vw/1.3889vw 'Inter', sans-serif;
        width: 100%; padding: 6% 16%;
        border: 1px solid rgba(237, 242, 236, 1);
        border-radius: 20px;
        margin: 0;
    }
    
    .orange-button.contact-us {
        min-width: fit-content; min-height: fit-content;
        padding: 2.43% 7.285%;
        margin: 8.5% 0;
    }
    
    #prices .colomn-right div {
        display: flex; flex-direction: column;
        justify-content: space-between; align-items: stretch;
        margin: 7.822% auto 0 0;
        width: 17.36vw; 
        min-height: 14.862vw;
        border: 1px solid rgb(227, 225, 213); border-radius: 20px;
        padding: 2.34vw 2.847vw; 
    
    }
    
    /*Секция контактов*/
    
    label {
        margin-top: 32.889%;
    }
    
    input {
        width: 27.431vw; height: 2.7777777vw;
        padding: 0.35vw 2.431vw 0.35vw 1.34vw;
        font-size: 1.3889vw;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    }
    
    .contacts h2 {
        font: bold 2.7778vw 'Inika', serif;
        margin: 4.92% 0 0 !important;
    }

    .contacts [alt="garden woman"] {
        width: 32.787%; height: auto;
        padding: 4.344% 4.1% 0 0 !important;
    }

    .contacts .circle2.dark {
        right: 2.431vw !important;
    }

    /*Подвал*/
    
    footer {
        padding: 3.2787% 0;
    }
    
    footer a {
        font-size: 1.3889vw;
    }}


@media (max-width: 499px) {
    /*Шапка*/
    header {
        position: sticky; top: 0px; background-color: white;
        padding-top: 3%; padding-bottom: 3%; margin-top: 7.9%; margin-bottom: 15.18%;
    }

    .top-a-nav a, #welcome img, .colomn-left img {
        display: none;
    }

    .burger {
        display: flex; flex-direction: column; justify-content: space-between;
        height: 2.738vh;
        transition: 0.5s;
    }

    .burger div{
        width: 10.53vw; height: 2px;
        background-color: rgb(113, 113, 113);
    }

    /*Первая секция*/
    h1 {
        font-size: 1.25em; line-height: 1.4em;
        margin-bottom: 6.17%;
    }

    .about-row p {
        font-size: 0.75em; line-height: 1.666em;
    }

    #welcome .about-row .about-text p {
        font-size: 0.8em; line-height: 1.563em;
        margin-right: 15.48px;
    }

    .learnmore-button {
        font-size: 0.5em; line-height: 2em;
        padding: 2.44% 5.455%;
        border-radius: 10px; border-width: 2px;
        margin-top: 6.08%;
    }

    /*Секция о нас*/

    #about .about-text p {
        margin-top: 6.53%;
        line-height: 1.6em;
    }

    .description-h2 h2 {
        text-align: center;
        font-size: 1.25em; line-height: normal;
        margin-top: 16.36%;
    }

    .about-text + img {
        margin: 0px !important;
        width: 45.4545%; height: 44.5454%;
    }

    /*Секция сервиса и продуктов*/
    #service h2 {
        text-align: left;
        margin-bottom: 10.6% !important; margin-right: auto !important;
    }

    body {
        width: 86.842% !important;
        margin: 0 6.578947% !important;
    }

    .service-buttons {
        width: 80%;
        margin-right: auto;
    }

    .service-buttons button {
        width: 46%; height: fit-content;
        margin: 0 auto 4% 0 !important;
    }

    .service-buttons button div {
        text-align: center;
    }

    .orange-button {
        font-size: 0.75em; line-height: 1.266em;
        padding: 3.2% 11.2%;
    }

    .h2-and-buttons div {
        max-width: 100%;
        flex-direction: row; flex-wrap: wrap; justify-content: flex-end;
    }

    .h2-and-buttons {
        margin: 18.2% 0px 9.1% 0px !important;
    }

    figure {
        width: max-content;
    }

    .figure-cards {
        height: 755.263vw;
        margin: 9.59% 0px 7.577% !important;
        align-items: center;
        align-content: center;
    }

    .figure-cards p {
        padding-bottom: 7.17%;
        width: 72.04%;
        margin-right: auto; margin-left: auto;
    }

    .figure-cards img {
        width: 73.42vw; height: 92.105vw;
    }

    .figure-cards, .h2-and-buttons, .about-row, .prices, .contacts {
        display: flex; flex-direction: column;
    }

    /*Секция цен*/

    #prices h2 {
        font-size: 1.25em; line-height: normal;
        text-align: center;
        margin-top: 4.848%;
    }

    #prices .colomn-right div {
        display: flex; flex-direction: column; justify-content: space-between;
        min-height: 46.579vw;
        margin: 12.12% auto 5.76% auto;
        width: 54.5454%;
        padding: 7.632vw 5.789vw;
    }

    .post-verstka, .colomn-right button {
        font-size: 3.947vw; line-height: 1.333em;
        padding: 7.778% 22.22% 7.778% 16.666% !important;
        margin: 0 !important;
        width: 100%; min-width: fit-content;
    }

    .post-verstka {
        margin: 0 !important; padding: 0 !important;
    }

    #prices .colomn-left, #contacts {
        align-items: center;
    }

    #prices .colomn-left h2 {
        margin-top: 0px;
        font-size: 1em; line-height: 1.75em;
        min-height: 3.85em;
    }

    #prices button img {
        margin-right: 0px !important;
    }

    .orange-button.contact-us {
        padding: 2.42% 6.666%;
        margin-top: 4.24%; margin-bottom: 12.12%;
    }

    /*Секция контактов*/

    #contacts h2 {
        font-size: 1.25em; line-height: normal;
        margin-top: 7.58% !important; margin-bottom: 24.24%;
    }

    #contacts [alt="garden woman"]{
        width: 30.303%;
        padding: 0px !important;
        order: 3;
        margin-top: 40%;
    }

    form label{
        margin-top: 0px;
    }

    input {
        width: 90.909%;
    }

    /*Подвал*/

    footer {
        flex-wrap: wrap; flex-direction: row-reverse;
        padding: 6.666% 0px 4.848%;
    }

    .addpad {
        padding-top: 4.848%; padding-bottom: 2.12%;
        flex-grow: 0 !important;
        margin: 0 40px;
    }

    footer div {
        display: flex; 
    }
}

@media (max-width: 1023px) and (min-width: 500px) {
    /*Шапка*/
    header {
        position: sticky; top: 0; background-color: white;
        margin-top: 4.9%; padding: 2% 0 !important;
    }

    .logo {
        flex-grow: 1;
    }

    .top-a-nav {
        min-width: 67.77%;
        display: flex; flex-wrap: wrap; justify-content: space-between;
    }

    .top-a-nav a {
        margin: 0 3.45%;
    }

    /*Первая секция*/

    #welcome {
        padding-top: 9.24%;
    }

    #welcome .about-row {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    #welcome img {
        width: 42%; height: auto;
        margin: 0px 0px 0px 42px !important;
    }
 
    #welcome h1 {
        font-size: 1.75em; line-height: 1.43em;
        margin-bottom: 8.7%;
    }

    h1 br {
        display: none;
    }

    #welcome .about-row .about-text p {
        font-size: 0.8em; line-height: 1.563em;
    }

    .learnmore-button {
        font-size: 0.8em; line-height: 1.25em;
        padding: 4.06% 7.83%;
        border-radius: 10px; border-width: 2px;
        margin-top: 8.7%;
    }

    /*Секция о нас*/

    #about {
        padding-top: 110px;
    }

    #about .about-text p {
        margin-top: 6%; 
        font-size: 1em; line-height: 1.75em;
    }

    .description-h2 h2 {
        text-align: center;
        font-size: 1.75em;;
    }

    .about-text + img {
        margin: 7.5% 0 0 !important;
        width: 37.48%; height: auto; 
    }

    /*Секция сервиса и продуктов*/
    #service h2 {
        text-align: left;
        margin-bottom: 6% !important; margin-right: auto !important;
    }

    body {
        width: 86.842%;
        margin: 0 6.5796%;
    }

    .service-buttons {
        justify-content: space-between;
        margin-right: auto;
        flex-wrap: wrap
    }

    .service-buttons button {
        margin: 0;
        padding: 2.15% 7.1556%;
    }

    .service-buttons {
        font-size: 1.33333em; line-height: normal;
        width: 83.8%;
    }

    .orange-button {
        font-size: 0.75em; line-height: 1.266em;
        padding: 3.2% 11.2%;
    }

    .h2-and-buttons {
        margin: 0 0 0.3% !important;
        padding-top: 18.2%;
    }

    .cards6 {
        display: flex; flex-direction: row;
    }

    .figure-cards {
        height: 185.677vw;
        margin: 6% 0 0 !important;
        align-items: center;
        flex-direction: row; flex-wrap: wrap; justify-content: space-between;
    }

    figcaption h3 {
        margin: 1.78% 0 3.27% !important;
    }

    figure {
        margin: 0 !important; 
    }

    .figure-cards p {
        padding-bottom: 7.1%;
        width: 72.04%;
        margin-left: auto; margin-right: auto;
    }

    .figure-cards img {
        width: 36.5vw; height: auto;
    }

    .h2-and-buttons, .about-row, .prices, .contacts {
        display: flex; flex-direction: column;
    }

    /*Секция цен*/

    #prices {
        display: flex; flex-direction: row; align-items: flex-end;
        padding-top: 13.64%;
    }

    #prices h2 {
        font-size: 1.75em; line-height: 1.2em;
        margin-top: 0;
    }

    #prices .colomn-right div {
        margin: 13.27% 10.6% 20.17% 0;
        width: auto; max-width: 65.58%;
        min-height: 24.403vh !important;
        padding: 8.92% 10.7556%;
        display: flex; flex-direction: column; justify-content: space-between;
    }

    .colomn-right {
        min-width: 57.12%;
    }

    .post-verstka, .colomn-right button {
        font-size: 1em; line-height: 1em;
        margin: 0;
        padding: 6.402% 16.005% !important;
        width: 100%;
    }

    .post-verstka {
        padding: 0 !important; margin: 0 !important;
    }

    #contacts {
        align-items: right;
    }

    #prices .colomn-left {
        height: 358px;
    }

    #prices .colomn-left h2 {
        font-size: 1.25em; line-height: 1.4em;
        min-height: 3.85em;
    }

    #prices button img {
        margin-right: 0 !important;
    }

    .orange-button.contact-us {
        font-size: 1em; line-height: 1.3em;
        padding: 4.2% 11.2%;
        margin-top: 7.7%; margin-bottom: 11.9%;
    }

    .colomn-left img {
        width: 55.8%; height: auto;
    }

    /*Секция контактов*/

    #contacts {
        align-items: center;
    }

    #contacts h2 {
        font-size: 2em; line-height: normal;
        margin-top: 19.193% !important; margin-bottom: 14.992%;
    }

    #contacts [alt="garden woman"]{
        width: 30.303%;
        padding: 0px !important;
        order: 3;
        margin-top: 37.48%;
    }

    form label{
        margin-top: 0px;
        justify-content: center;
        position: relative;
    }

    form {
        width: 67.466%;
    }

    input {
        width: 58.59375vw;
        height: 5.51vw;
        padding: 0.65vw 2.6vw 0.65vw 4.5573vw;
        font-size: 2.6vw; line-height: 5.21vw;
        box-shadow: 0 0.521vw 0.521vw 0.26vw rgba(0, 0, 0, 0.25);
    }

    #contacts .circle2 {
        width: 0.78vw; height: 0.521vw;
    } 

    /*Подвал*/

    footer {
        flex-direction: column;
        padding: 4.848% 0px 4.848%;
    }

    .addpad {
        padding-top: 2.083%; padding-bottom: 2.12%;
        flex-grow: 0 !important;
    }

    footer div {
        display: flex; 
    }
}
